*{
    background: linear-gradient(45deg, rgba(145,5,185,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: x-large;
    border-radius: 25px;
    position: sticky;
}
#logoname{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: none;
    text-align: center;
    color: black;
    font-size: 200px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #fff;
    text-transform: uppercase;
}
#CustumerRequests{
    display: contents;
    color: black;
    text-align: center;
    text-shadow: 50px ;
    font-size: xx-large;
    margin-top: 10px;
    position: sticky;

}
button{
    width: 150px;
    height: 80px;
    font-size: x-large;
    border-radius: 25px;
    background:white;
    color: black;
    border: none;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px #888888;
    position: sticky;

}
hr{
    width:auto;
    height: 2px;
    background: black;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    position: sticky;

    
}
#container{
    
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: x-large;
    border-radius: 25px;
    color: black;
    background: transparent;
    position: sticky;
}
#reminder{
    visibility: hidden;
    margin-top: 2%;
    right: 1%;
    width: 20%;
    font-size: x-large;
    border-radius: 25px;
    color: black;
    border:#888888;
    box-shadow: 5px 5px 5px #888888;
    background: rgba(253, 255, 255, 0.604);
    position: fixed;
}
#reminder h1{
     background: transparent;

}
#Customer{
    display: contents;
    margin-top: 2%;
    width: 40%;
    font-size: x-large;
    border-radius: 25px;
    color: black;
    border:#888888;
    box-shadow: 5px 5px 5px #888888;
    background: rgba(253, 255, 255, 0.604);
    position: fixed;
}
#Customer h2{
background: transparent;
}
.logo{
    margin: 15%;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    box-shadow: 2px 2px 2px gray;
    background: white;
}
#request1{
    background: rgba(253, 255, 255, 0.604);
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    display: grid;
}
#request2{
    background: rgba(253, 255, 255, 0.604);
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    display: grid;
}
#request3{
    background: rgba(253, 255, 255, 0.604);
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    display: grid;
}
#request4{
    background: rgba(253, 255, 255, 0.604);
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    display: grid;
}

