*{  text-align: center;
    background: linear-gradient(45deg, rgba(145,5,185,1) 0%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
   }
   #logoname{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: none;
    text-align: center;
    color: black;
    font-size: 200px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #fff;
    text-transform: uppercase;
}
.BankInfo{
    display: contents;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;

}
.Transaction{
    text-align: center;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: medium;
    border-radius: 25px;
    color: black;
    box-shadow: 5px 5px 10px #525252;
    background: rgba(253, 255, 255, 0.604);
    position: sticky;

    }
hr{
    width:auto;
    height: 2px;
    background: black;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    position: sticky;

}   
#img1{
    margin-top: 2.5px;
    margin-left: .8px;
    text-align: center;
    border-radius: 50%;
    position: sticky;

}
#img0{
    border-radius: 10%;
    box-shadow: 5px 5px 5px #525252;
    position: sticky;

}
.logo{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 2px 2px 2px gray;
    background: white;
    position: sticky;

}
h1,h4,h2,h3{
    background: transparent;
    position: sticky;

}
#brand{
    background: transparent;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    display: grid;
    position: sticky;

}
button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: black;
    background: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px;
    position: sticky;
}

#reminder{
    visibility: hidden;
    margin-top: 2%;
    right: 1%;
    width: 20%;
    font-size: x-large;
    border-radius: 25px;
    color: black;
    border:#888888;
    box-shadow: 5px 5px 5px #888888;
    background: rgba(253, 255, 255, 0.604);
    position: fixed;
}
#reminder h1{
     background: transparent;

}