*{  
    background: linear-gradient(45deg, rgba(145,5,185,1) 0%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    
}
#logoname{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    border: none;
    text-align: center;
    color: black;
    font-size: 200px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #fff;
    text-transform: uppercase;
}
.cont{
    text-align: center;
}
#name,#yourIBAN,#amount,#accountName,#IBAN{
border: none;
border-bottom: 2px solid #fff;
background: white;
outline: none;
height: 45px;
color: black;
font-size: 16px;
margin: 10px;
width: 250px;
padding: 5px;
box-sizing: border-box;
border-radius: 5px;
position: sticky;


}
#Submit{
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: black;
    background: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px;
    transition: .5s;
    position: sticky;

}
#Name,#YourIBAN,#Amount,#AccountName,#AccountIBAN,#welcome{
    color: white;
    border: none;
    background: transparent;
    position: sticky;
    
}

#reminder{
    visibility: hidden;
    margin-top: 2%;
    right: 1%;
    width: 20%;
    font-size: x-large;
    border-radius: 25px;
    color: black;
    border:#888888;
    box-shadow: 5px 5px 5px #888888;
    background: rgba(253, 255, 255, 0.604);
    position: fixed;
}
#reminder h1{
     background: transparent;

}
#reminder button{
    width: 150px;
    height: 50px;
    border: none;
    background:white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
    
}